<div class="card shadow-sm mb-4">
  <!-- Employee Picture and Name -->
  <div class="card-header bg-light text-black d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= image_tag(
        employee.picture.present? ? employee.picture.url(:thumb) : 'pictures/blank_profile.png',
        class: 'rounded-circle me-3',
        style: 'width: 50px; height: 50px; object-fit: cover;',
        alt: employee.name
      ) %>
      <h5 class="mb-0"><%= employee.name %></h5>
    </div>
    <% if employee.linkedin_url.present? %>
      <%= link_to employee.linkedin_url, target: '_blank', rel: 'noopener', class: 'ms-auto' do %>
        <%= image_tag 'external_logos/linkedIn.png', alt: 'LinkedIn', style: 'width: 20px; height: 20px;' %>
      <% end %>
    <% end %>
  </div>

  <!-- Employee Details -->
  <div class="card-body">
    <table class="table table-borderless table-sm mb-0">
      <%# Job Level %>
      <% if employee.job_level %>
        <tr>
          <th scope="row" class="text-nowrap border-bottom">Level</th>
          <td class="border-bottom"><%= employee.job_level.name %></td>
        </tr>
      <% end %>

      <%# Group %>
      <% if employee.group %>
        <tr>
          <th scope="row" class="text-nowrap border-bottom">Group</th>
          <td class="border-bottom"><%= employee.group.name %></td>
        </tr>
      <% end %>

      <%# Location %>
      <% if employee.location %>
        <tr>
          <th scope="row" class="text-nowrap border-bottom">Location</th>
          <td class="border-bottom"><%= employee.location.name %></td>
        </tr>
      <% end %>

      <%# Company %>
      <% if employee.company %>
        <tr>
          <th scope="row" class="text-nowrap border-bottom">Company</th>
          <td class="border-bottom"><%= employee.company.name %></td>
        </tr>
      <% end %>

      <%# Previous Company %>
      <% if employee.previous_company %>
        <tr>
          <th scope="row" class="text-nowrap border-bottom">Previous Company</th>
          <td class="border-bottom"><%= employee.previous_company.name %></td>
        </tr>
      <% end %>

      <%# Undergraduate School %>
      <% if employee.undergraduate_school %>
        <tr>
          <th scope="row" class="text-nowrap border-bottom">Undergraduate School</th>
          <td class="border-bottom"><%= employee.undergraduate_school.name %></td>
        </tr>
      <% end %>

      <%# Graduate School %>
      <% if employee.graduate_school %>
        <tr>
          <th scope="row" class="text-nowrap">Graduate School</th>
          <td><%= employee.graduate_school.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
