<div class="container py-5">
  <!-- Card Header with Back Button -->
  <div class="card shadow-sm position-relative mb-4">
    <!-- Back Button -->
    <%= link_to root_path, class: 'btn btn-light rounded-circle shadow-sm d-flex align-items-center justify-content-center position-absolute', style: 'width: 40px; height: 40px; top: 10px; left: 10px; z-index: 1050;' do %>
      <span class="fs-6">&larr;</span>
    <% end %>

    <!-- Title and Description -->
    <div class="card-body text-center bg-light position-relative">
      <h1 class="fw-bold text-uppercase" style="letter-spacing: 1px; margin-bottom: 10px; margin-top: 10px;">
        Question Bank
      </h1>
      <p class="text-muted" style="font-size: 15px;">You can't be a top bucket banker if you never become a banker</p>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @question_packets.each do |packet| %>
        <div class="col">
          <div class="card shadow-sm border border-secondary"> <!-- Added border-secondary -->
            <div class="card-body">
              <h5 class="card-title"><%= truncate(packet.name, length: 40, separator: ' ') %></h5>
              <p class="card-text text-muted">
                <%= pluralize(@grouped_question_counts[packet.id], "question") %>
              </p>
              <%= link_to "Practice", question_packet_path(packet), class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% question_of_the_day = Question.question_of_the_day %>
    <% if question_of_the_day.present? %>
      <%= link_to question_packet_path(id: "qotd", random_questions: [question_of_the_day.id]), class: "d-block text-decoration-none" do %>
        <div class="card shadow-sm mb-3 mt-3 bg-dark text-white text-center" style="height: 50px; display: flex; align-items: center; justify-content: center;">
          <h4 class="card-title mb-0">
            Question of the Day
          </h4>
        </div>
      <% end %>
    <% else %>
      <div class="card shadow-sm border border-secondary mb-3 mt-3 text-center" style="height: 50px; display: flex; align-items: center; justify-content: center;">
        <h4 class="card-title mb-0 text-danger">
          The Question of the Day is currently unavailable.
        </h4>
      </div>
    <% end %>

  </div>

</div>
