<h5 class="fw-bold">Filters</h5>
<div class="card shadow-sm my-2">
  <div class="card-body">
    <%= search_form_for @q, url: start_career_data_path, method: :get, class: "filter-form" do |f| %>
      <div class="row">
        <!-- From Column -->
        <div class="col-md-6">
          <h6 class="fw-bold text-start mb-3">From</h6>
          <hr />
          <!-- Undergraduate Program Dropdown -->
          <div class="mb-3">
            <%= f.select :previous_undergrad_cont,
                         [["Select Undergraduate Program", ""]] +
                         CombinedJob.where.not(previous_undergrad: [nil, ""]).distinct.pluck(:previous_undergrad).map { |p| [p, p] },
                         { selected: params.dig(:q, :previous_undergrad_cont) },
                         { class: "form-select" } %>
          </div>

          <!-- MBA Program Dropdown -->
          <div class="mb-3">
            <%= f.select :previous_mba_cont,
                         [["Select MBA Program", ""]] +
                         CombinedJob.where.not(previous_mba: [nil, ""]).distinct.pluck(:previous_mba).map { |p| [p, p] },
                         { selected: params.dig(:q, :previous_mba_cont) },
                         { class: "form-select" } %>
          </div>

          <!-- Other Graduate Program Dropdown -->
          <div class="mb-3">
            <%= f.select :previous_grad_cont,
                         [["Select Other Graduate Program", ""]] +
                         CombinedJob.where.not(previous_grad: [nil, ""]).distinct.pluck(:previous_grad).map { |p| [p, p] },
                         { selected: params.dig(:q, :previous_grad_cont) },
                         { class: "form-select" } %>
          </div>
        </div>

        <!-- To Column -->
        <div class="col-md-6">
          <h6 class="fw-bold text-start mb-3">To</h6>
          <hr />
          <!-- Industry Dropdown -->
          <div class="mb-3">
            <%= f.select :industry_cont,
                         [["Select Industry", ""]] +
                         CombinedJob.where.not(industry: [nil, ""]).distinct.pluck(:industry).map { |i| [i, i] },
                         { selected: params.dig(:q, :industry_cont) },
                         { class: "form-select" } %>
          </div>

          <!-- Company Dropdown -->
          <div class="mb-3">
            <%= f.select :company_cont,
                         [["Select Company", ""]] +
                         CombinedJob.where.not(company: [nil, ""]).distinct.pluck(:company).map { |c| [c, c] },
                         { selected: params.dig(:q, :company_cont) },
                         { class: "form-select" } %>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center mt-4 d-flex justify-content-between">
        <%= f.submit "Apply Filters", class: "btn btn-dark w-50 ms-2 me-2" %>
        <%= link_to "Clear Filters", start_career_data_path, class: "btn btn-outline-dark w-50 me-2" %>
      </div>
    <% end %>
  </div>
</div>


<script>
  // Ensure only one dropdown in the 'From' column is selectable
  document.addEventListener("DOMContentLoaded", () => {
    const fromSelects = document.querySelectorAll(".from-select");

    fromSelects.forEach((select) => {
      select.addEventListener("change", () => {
        const selectedValue = select.value;

        // Enable all dropdowns if the user selects the default option
        if (selectedValue === "") {
          fromSelects.forEach((otherSelect) => {
            otherSelect.disabled = false;
          });
        } else {
          // Disable all other dropdowns except the one with a selected value
          fromSelects.forEach((otherSelect) => {
            if (otherSelect !== select) {
              otherSelect.disabled = true;
            }
          });
        }
      });
    });
  });
</script>
