<div class="row">
  <!-- First Box: Most Common Industries -->
  <div class="col-md-6">
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <h5 class="fw-bold text-center mb-3">Most Common Industries</h5>
        <div class="d-flex flex-column">
          <% @industries.each do |industry| %>
            <div class="d-flex justify-content-between border-bottom pb-2 mb-2">
              <div>
                <h6 class="fw-bold mb-1"><%= industry.industry.present? ? industry.industry : "Uncategorized" %></h6>
                <small class="text-muted"># Records: <%= industry.total_records %></small>
              </div>
              <div class="text-end">
                <small>Avg Salary: <%= number_to_currency(industry.avg_salary.round, precision: 0) %></small><br>
                <small>Avg Bonus: <%= number_to_currency(industry.avg_bonus.round, precision: 0) %></small><br>
                <small>Avg Hours: <%= industry.avg_hours.round %> hrs/week</small><br>
                <small>Avg Comp/Hour: <%= number_to_currency((industry.avg_total_comp.to_f / (industry.avg_hours.to_f * 48)).round, precision: 0) %>/hour</small>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Box: Most Common Companies -->
  <div class="col-md-6">
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <h5 class="fw-bold text-center mb-3">Most Common Companies</h5>
        <div class="d-flex flex-column">
          <% @companies.each do |company| %>
            <div class="d-flex justify-content-between border-bottom pb-2 mb-2">
              <div>
                <h6 class="fw-bold mb-1"><%= company.company.present? ? company.company : "Uncategorized" %></h6>
                <small class="text-muted"># Records: <%= company.total_records %></small>
              </div>
              <div class="text-end">
                <small>Avg Salary: <%= number_to_currency(company.avg_salary.round, precision: 0) %></small><br>
                <small>Avg Bonus: <%= number_to_currency(company.avg_bonus.round, precision: 0) %></small><br>
                <small>Avg Hours: <%= company.avg_hours.round %> hrs/week</small><br>
                <small>Avg Comp/Hour: <%= number_to_currency((company.avg_total_comp.to_f / (company.avg_hours.to_f * 48)).round, precision: 0) %>/hour</small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
