<div class="modal fade" id="groupFilterModal" tabindex="-1" aria-labelledby="groupFilterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupFilterLabel">Filter by Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q, url: employee_view_path(@employee_view), method: :get, html: { class: 'filter-form' } do |f| %>
          <%# Hidden fields to preserve other filters %>
          <%= hidden_field_tag 'q[location_id_eq]', params.dig(:q, :location_id_eq) %>
          <%= hidden_field_tag 'q[job_level_name_eq_any]', params.dig(:q, :job_level_name_eq_any) %>
          <%= hidden_field_tag 'q[company_id_eq]', params.dig(:q, :company_id_eq) %>
          <%= hidden_field_tag 'q[previous_company_id_eq]', params.dig(:q, :previous_company_id_eq) %>
          <%= hidden_field_tag 'q[undergraduate_school_id_eq]', params.dig(:q, :undergraduate_school_id_eq) %>
          <%= hidden_field_tag 'q[graduate_school_id_eq]', params.dig(:q, :graduate_school_id_eq) %>

          <div class="mb-3">
            <%= f.label :group_name_eq_any, "Select Group", class: 'form-label' %>
            <%= f.collection_select :group_name_eq_any, 
                Group.joins(:employees)
                     .where(employees: { id: @employee_view.employee_ids })
                     .distinct
                     .pluck(:name)
                     .uniq, # Ensure unique group names
                :to_s, :to_s, 
                { prompt: 'All Groups', selected: params.dig(:q, :group_name_eq_any) }, 
                { class: 'form-select' } %>
          </div>
          <div class="text-end">
            <%= f.submit 'Apply Filter', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
