<h1 class="text-center my-4">Admin Dashboard</h1>
<div class="container">
  <p>Welcome, <%= current_user.user_name %>! You have admin privileges.</p>

  <ul class="list-group mt-4">
    <li class="list-group-item">
      <%= link_to "Manage Users", admin_users_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Pages", admin_pages_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Tier List Templates', admin_tier_list_templates_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Tierlists", admin_tier_lists_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Items", admin_items_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Item Ranks", admin_tier_lists_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Comments', admin_comments_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Employees', admin_employees_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Companies', admin_companies_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Position Types', admin_position_types_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Locations', admin_locations_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Schools', admin_schools_path, class: 'text-decoration-underline' %>
    </li>
        <li class="list-group-item">
      <%= link_to 'Manage Job Levels', admin_job_levels_path, class: 'text-decoration-underline' %>
    </li>
    <!--<li class="list-group-item"><%#= link_to "Site Settings", "#" %></li>-->
  </ul>
</div>
