<h1 class="text-center my-4">Admin Dashboard</h1>
<div class="container">
  <p>Welcome, <%= current_user.user_name %>! You have admin privileges.</p>

  <ul class="list-group mt-4">
    <li class="list-group-item">
      <%= link_to "Manage Users", admin_users_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Pages", admin_pages_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Tier List Templates', admin_tier_list_templates_path %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Tierlists", admin_tier_lists_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Items", admin_items_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to "Manage Item Ranks", admin_tier_lists_path, class: "text-decoration-underline" %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Comments', admin_comments_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Employees', admin_employees_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Flagged Employees', flagged_admin_employees_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Employee Views', admin_employee_views_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Employee Recap Forms', admin_form_templates_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Career Data', admin_career_jobs_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Aggregate Career Data', admin_career_aggregate_jobs_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Exit Opportunities', admin_exit_opportunity_mappings_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Exit Opportunities Details', admin_exit_opportunity_details_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage User Recaps', admin_ratings_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Companies', admin_companies_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Position Types', admin_position_types_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Locations', admin_locations_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Schools', admin_schools_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Groups', admin_groups_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Job Levels', admin_job_levels_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Questions', admin_questions_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Question Packets', admin_question_packets_index_path, class: 'text-decoration-underline' %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Manage Forum Rooms', admin_forum_rooms_path, class: 'text-decoration-underline' %>
    </li>
    <!--<li class="list-group-item"><%#= link_to "Site Settings", "#" %></li>-->
  </ul>
</div>
