<div class="card shadow-sm my-4">
  <div class="card-body">
    <div class="row text-center border-bottom pb-3 mb-3">
      <div class="col-md-4 border-end">
        <h5 class="fw-bold mb-1">Number of Records</h5>
        <small class="text-muted"><%= @summary[:total_records] %></small>
      </div>
      <div class="col-md-4 border-end">
        <h5 class="fw-bold mb-1">Avg. Salary</h5>
        <small class="text-muted">$<%= number_with_delimiter(@summary[:avg_salary].round) %></small>
      </div>
      <div class="col-md-4">
        <h5 class="fw-bold mb-1">Avg. Bonus</h5>
        <small class="text-muted">$<%= number_with_delimiter(@summary[:avg_bonus].round) %></small>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 border-end">
        <h5 class="fw-bold mb-1">Avg. Total Comp</h5>
        <small class="text-muted">$<%= number_with_delimiter(@summary[:avg_total_comp].round) %></small>
      </div>
      <div class="col-md-4 border-end">
        <h5 class="fw-bold mb-1">Avg. Hours Worked</h5>
        <small class="text-muted"><%= @summary[:avg_hours_worked].round %> hrs/week</small>
      </div>
      <div class="col-md-4">
        <h5 class="fw-bold mb-1">Avg. Comp per Hour</h5>
        <small class="text-muted">$<%= number_with_delimiter(@avg_comp_per_hour) %>/hour</small>
      </div>
    </div>
  </div>
</div>
