<div class="card shadow-sm my-2">
  <div class="card-body">
    <form action="#" method="get">
      <div class="row g-3">
<%= search_form_for @q, url: overview_career_data_path, method: :get, class: "filter-form" do |f| %>
  <div class="row g-3">
    <!-- Industry -->
    <div class="col-md-4">
      <%= f.label :industry_cont, "Industry" %>
      <%= f.select :industry_cont, CareerJob.distinct.pluck(:industry), { include_blank: "All Industries" }, class: "form-select" %>
    </div>

    <!-- Company -->
    <div class="col-md-4">
      <%= f.label :company_cont, "Company" %>
      <%= f.select :company_cont, CareerJob.distinct.pluck(:company), { include_blank: "All Companies" }, class: "form-select" %>
    </div>

    <!-- Location -->
    <div class="col-md-4">
      <%= f.label :location_cont, "Location" %>
      <%= f.select :location_cont, CareerJob.distinct.pluck(:location), { include_blank: "All Locations" }, class: "form-select" %>
    </div>

    <!-- Level -->
    <div class="col-md-4">
      <%= f.label :career_compensations_level_cont, "Level" %>
      <%= f.select :career_compensations_level_cont, CareerCompensation.distinct.pluck(:level), { include_blank: "All Levels" }, class: "form-select" %>
    </div>

    <!-- Sub-Level -->
    <div class="col-md-4">
      <%= f.label :career_compensations_sub_level_cont, "Sub-Level" %>
      <%= f.select :career_compensations_sub_level_cont, CareerCompensation.distinct.pluck(:sub_level), { include_blank: "All Sub-Levels" }, class: "form-select" %>
    </div>

    <!-- Apply Button -->
    <div class="col-md-4 align-self-end">
      <%= f.submit "Apply", class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>



  </div>
</div>
