<%= link_to group_tier_list_path(ranking.tier_list_id), class: "text-decoration-none" do %>
<div class="border p-2">
  <div class="d-flex align-items-center" style="height: 30px;">
    <div class="d-flex align-items-center" style="height: 30px;">
      <%= image_tag 'icons/people_icons/banker.png', alt: ranking.item.name, style: 'width: 30px; height: 30px; margin-right: 10px;' %>
      <div class="d-flex flex-column justify-content-between" style="height: 100%;">
        <h6 class="mb-0 text-start" style="line-height: 1; margin: 0;"><%= ranking.item.name %></h6>
        <small class="text-muted text-start" style="line-height: 0.95; margin: 0; font-size: 0.75rem;">
          <%= shorten_name(TierList.find(ranking.tier_list_id).name) %>
        </small>
      </div>
    </div>

    <div class="d-flex align-items-end ms-auto" style="height: 30px;">
      <img src="/assets/custom_icons/top_bucket_icon.svg" alt="Top Bucket Icon" style="width: 30px; height: 30px; margin-right: 5px;">
      <span class="text-muted text-start" style="line-height: 1; font-size: 0.7rem;">
        <%= @user_ranking_counts[ranking.tier_list_id] || 0 %>
        <span class="text-start" style="display: block;">rankings</span>
      </span>
    </div>
  </div>
</div>
<% end %>
