<div class="container py-1">



  <!-- Networking Cards -->
  <% @recap_card_data_networking.each do |recap_card| %>


    <% if recap_card[:position] == "Investment Banking" %>

    

      <% employee_view_id = EmployeeViewsEmployee.where(employee_id: recap_card[:employee_id]).pluck(:employee_view_id).first %>

      <% link_path = summary_employee_view_path(employee_view_id, recap_card[:employee_id], form_context: "networking") %>
      
      <%= link_to link_path, style: "text-decoration: none; color: inherit; display: block;" do %>
        <%= render 'site/recaps_home/recap_card_ib_networking', recap_card: recap_card %>
      <% end %>
    <% else %>
      <!-- Render card without link -->
      <%= render 'site/recaps_home/recap_card_ib_networking', recap_card: recap_card %>
    <% end %>
  <% end %>

  <!-- Interview Cards -->
  <% @recap_card_data_interview.each do |recap_card| %>
    <% if recap_card[:position] == "Investment Banking" %>
      <% employee_view_id = EmployeeViewsEmployee.where(employee_id: recap_card[:employee_id]).pluck(:employee_view_id).first %>

      <% link_path = summary_employee_view_path(employee_view_id, recap_card[:employee_id], form_context: "interview") %>
      
      <%= link_to link_path, style: "text-decoration: none; color: inherit; display: block;" do %>
        <%= render 'site/recaps_home/recap_card_ib_interview', recap_card: recap_card %>
      <% end %>
    <% else %>
      <!-- Render card without link -->
      <%= render 'site/recaps_home/recap_card_ib_interview', recap_card: recap_card %>
    <% end %>
  <% end %>

</div>
