<body class="bg-light">
  <div class="container-fluid py-4">
    <div class="row d-flex flex-nowrap" style="min-height: 90vh;">
      <!-- Left Column -->
      <div class="col-lg-3 col-md-4 col-sm-12 d-flex flex-column">
        <div class="card mb-3 ms-3 shadow-sm border-0" style="min-height: 388px;">
          <div class="card-body text-center p-3">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Top Bucket</h5>
              <%= link_to "View all", tier_lists_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <%= render partial: 'site/ratings_home/list_of_rating_cards_tb' %>
          </div>
        </div>
        <div class="card mb-3 ms-3 shadow-sm border-0" style="min-height: 388px;">
          <div class="card-body text-center p-3">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Bottom Bucket</h5>
              <%= link_to "View all", tier_lists_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <%= render partial: 'site/ratings_home/list_of_rating_cards_bb' %>
          </div>
        </div>
      </div>

      <!-- Middle Column -->
      <div class="col-lg-6 col-md-8 col-sm-12 d-flex flex-column">
        <div class="row gx-3 gy-0">
          <!-- Top Cards -->
          <div class="col-md-6">
            <div class="card shadow-sm border-0" style="min-height: 300px;">
              <div class="card-body d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column align-items-center text-center" style="width: 300px;">
                  <div class="mb-5" style="margin-top: -30px;">
                    <%= render partial: 'site/mocks_home/overlapping_images_mocks' %>
                  </div>
                  <h5>Mock Interview Meeting Board</h5>
                  <p style="font-size: 0.8rem;">Practice mock interviews with peers pursuing similar career paths.</p>
                  <%= link_to 'Book a Mock', meeting_board_mock_interviews_path, class: 'btn btn-dark rounded-pill py-1 mt-2', style: 'width: 100%; background-color: #0D1B2A;' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card shadow-sm border-0" style="min-height: 300px;">
              <div class="card-body d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column align-items-center text-center" style="width: 300px;">
                  <div class="mb-5" style="margin-top: -30px;">
                    <%= render partial: 'site/mocks_home/overlapping_images_coaches' %>
                  </div>
                  <h5>Career Coach Scheduling</h5>
                  <p style="font-size: 0.8rem;">Work with a coach who’s succeeded in some of the world's most competitive interviews.</p>
                  <%= link_to 'Book a Session', interview_coaches_index_path, class: 'btn btn-dark rounded-pill py-1 mt-2', style: 'width: 100%; background-color: #0D1B2A;' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 d-flex flex-column">
            <div class="card shadow-sm border-0" style="min-height: 476px; overflow: hidden;">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="text-start m-2">Career Details and Common Exit Opportunities</h5>
                  <%= link_to 'See Details', career_datum_path(id: 1), class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
                </div>
                <hr class="m-0 mb-2 text-muted" style="opacity: 0.1;">

                <div id="chart" style="height: 390px; overflow-x: auto; white-space: nowrap;" class="w-100">
                  <!-- Chart will be rendered here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-lg-3 col-md-4 col-sm-12 d-flex flex-column">
        <div class="card mb-4 me-3 shadow-sm border-0" style="min-height: 300px;">
          <div class="card-body text-center pb-0 m-0">
            <div class="d-flex justify-content-between">
              <h5 class="text-start">Networking & Interview Recaps</h5>
              <%= link_to "View all", employee_views_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <hr class="m-0 text-muted" style="opacity: 0.1;">
          </div>
          <%= render partial: 'site/recaps_home/list_of_recap_cards' %>

        </div>
        <div class="card mb-4 me-3 shadow-sm border-0" style="min-height: 150px; background-color: #0D1B2A; color: white;">
          <div class="card-body text-center">
            <h5 class="text-start" style="font-size: 0.7rem;">Interview Question of the Day</h5>
            <hr class="m-0" style="opacity: 0.5; border-color: white;">
            <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
              <% if @question_of_the_day.present? && @question_of_the_day.question_text.present? %>
                <p style="text-align: center; margin: 0;"><%= @question_of_the_day.question_text %></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card me-3 shadow-sm border-0" style="min-height: 220px;">
          <div class="card-body text-center d-flex flex-column justify-content-between align-items-center">
            <%= render 'site/questions_home/answer_choices' %>
            <%= link_to "See All Questions", question_packets_path, class: "btn btn-dark rounded-pill w-100", style: "background-color: #0D1B2A;" %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <div style="
  background-color: #0D1B2A; 
  color: #fff; 
  text-align: center; 
  padding: 0; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 1000; 
  border-top: 0px solid #0D1B2A; 
  height: 50px; 
  display: flex; 
  align-items: center;">

    <!-- "All Career Data" Text Centered -->
    <div style="
      font-size: 0.8rem; 
      font-weight: bold; 
      text-align: center; 
      max-width: 150px; 
      flex: 0 0 auto; 
      margin-left: 10px;">
      <%= link_to 'All Career Data', career_datum_path(id: 1), style: 'color: inherit; text-decoration: none;' %>
    </div>

    <!-- Ticker Items -->
    <div style="flex: 5; margin-left: 20px; overflow: hidden; white-space: nowrap;">
      <%= render partial: "site/career_tree_home/list_of_ticker_items", locals: { } %>
    </div>
  </div>

  <!-- Ensuring scripts are loaded properly -->
  <%= render 'career_data/node_chart/render_chart' %>
  <%= render 'career_data/node_chart/fetch_and_render' %>
  <%= render 'career_data/node_chart/node_modal' %>

</body>

<!--Script to render the D3 Career Details Chart with the correct scroll height and width-->
<script>
  document.addEventListener("nodesRendered", function () {
    const chart = document.getElementById("chart");
    if (chart) {
      chart.scrollLeft = chart.scrollWidth / 4.5; // Center horizontally
      chart.scrollTop = chart.scrollHeight / 23; // Center vertically (if needed)
    }
  });
</script>
