<body class="bg-light">
  <div class="container-fluid py-4">
    <div class="row">
      <!-- Left Column -->
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card mb-4 ms-3 shadow-sm border-0" style="height: 375px;">
          <div class="card-body text-center">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Top Bucket</h5>
              <%= link_to "View all", tier_lists_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <%#= render 'site/ratings_home/rating_card'%>
            <%= render partial: 'site/ratings_home/list_of_rating_cards_tb' %>
          </div>
        </div>
        <div class="card mb-4 ms-3 shadow-sm border-0" style="height: 375px;"">
          <div class="card-body text-center">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Bottom Bucket</h5>
              <%= link_to "View all", tier_lists_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <%#= render 'site/ratings_home/rating_card'%>
            <%= render partial: 'site/ratings_home/list_of_rating_cards_bb' %>
          </div>
        </div>
      </div>

      <!-- Middle Column -->
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="row">
          <!-- Top Cards -->
          <!--Left Card-->
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm border-0" style="height: 230px;">
              <div class="card-body text-center">
                <div class="d-flex justify-content-center ms-4">
                  <%= render partial: 'site/mocks_home/overlapping_images_mocks' %>
                </div>
                <!-- Content in the middle of the card -->
                <div class="mt-5 text-center" style="width: 300px; margin: 0 auto;">
                  <h5>Mock Interview Meeting Board</h5>
                  <p style="font-size: 0.8rem;">Practice mock interviews with peers pursuing similar career paths.</p>
                  <%= link_to 'Book a Mock', meeting_board_mock_interviews_path, class: 'btn btn-dark rounded-pill py-1', style: 'width: 100%;' %>
                </div>
              </div>
            </div>
          </div>
          <!--Right Card-->
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm border-0" style="height: 230px;">
              <div class="card-body text-center">
                <div class="d-flex justify-content-center ms-4">
                  <%= render partial: 'site/mocks_home/overlapping_images_coaches' %>
                </div>
                <!-- Content in the middle of the card -->
                <div class="mt-5 text-center" style="width: 300px; margin: 0 auto;">
                  <h5>Career Coach Scheduling</h5>
                  <p style="font-size: 0.8rem;">Work with a coach who’s succeeded in some of the world's most competitive interviews.</p>
                  <%= link_to 'Book a Session', meeting_board_mock_interviews_path, class: 'btn btn-dark rounded-pill py-1', style: 'width: 100%;' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Wide Card -->
        <div class="card mb-4 shadow-sm" style="height: 200px;">
          <div class="card-body text-center">
            <h5>Wide Card</h5>
          </div>
        </div>
        <!-- Large Card -->
        <div class="card shadow-sm" style="height: 300px;">
          <div class="card-body text-center">
            <h5>Large Card</h5>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card mb-4 me-3 shadow-sm" style="height: 150px;">
          <div class="card-body text-center">
            <h5>Top Card</h5>
          </div>
        </div>
        <div class="card mb-4 me-3 shadow-sm" style="height: 200px;">
          <div class="card-body text-center">
            <h5>Middle Card</h5>
          </div>
        </div>
        <div class="card me-3 shadow-sm" style="height: 250px;">
          <div class="card-body text-center">
            <h5>Bottom Card</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div style="background-color: #000; color: #fff; text-align: center; padding: 10px 0; position: fixed; bottom: 0; left: 0; right: 0; z-index: 1000;">
    Career
  </div>
</body>
