<body class="bg-light">
  <div class="container-fluid py-4">
    <div class="row">
      <!-- Left Column -->
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card mb-4 ms-3 shadow-sm border-0" style="height: 375px;">
          <div class="card-body text-center">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Top Bucket</h5>
              <%= link_to "View all", tier_lists_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <%= render partial: 'site/ratings_home/list_of_rating_cards_tb' %>
          </div>
        </div>
        <div class="card mb-4 ms-3 shadow-sm border-0" style="height: 375px;"">
          <div class="card-body text-center">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Bottom Bucket</h5>
              <%= link_to "View all", tier_lists_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <%= render partial: 'site/ratings_home/list_of_rating_cards_bb' %>
          </div>
        </div>
      </div>

      <!-- Middle Column -->
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="row">
          <!-- Top Cards -->
          <!--Left Card-->
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm border-0" style="height: 230px;">
              <div class="card-body text-center">
                <div class="d-flex justify-content-center ms-4">
                  <%= render partial: 'site/mocks_home/overlapping_images_mocks' %>
                </div>
                <!-- Content in the middle of the card -->
                <div class="mt-5 text-center" style="width: 300px; margin: 0 auto;">
                  <h5>Mock Interview Meeting Board</h5>
                  <p style="font-size: 0.8rem;">Practice mock interviews with peers pursuing similar career paths.</p>
                  <%= link_to 'Book a Mock', meeting_board_mock_interviews_path, class: 'btn btn-dark rounded-pill py-1', style: 'width: 100%;' %>
                </div>
              </div>
            </div>
          </div>
          <!--Right Card-->
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm border-0" style="height: 230px;">
              <div class="card-body text-center">
                <div class="d-flex justify-content-center ms-4">
                  <%= render partial: 'site/mocks_home/overlapping_images_coaches' %>
                </div>
                <!-- Content in the middle of the card -->
                <div class="mt-5 text-center" style="width: 300px; margin: 0 auto;">
                  <h5>Career Coach Scheduling</h5>
                  <p style="font-size: 0.8rem;">Work with a coach who’s succeeded in some of the world's most competitive interviews.</p>
                  <%= link_to 'Book a Session', meeting_board_mock_interviews_path, class: 'btn btn-dark rounded-pill py-1', style: 'width: 100%;' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Middle Card -->
        <div class="card mb-4 shadow-sm border-0" style="height: 250px;">
          <div class="card-body text-center">
            <h5 class="text-start">Explore Trending Discussions</h5>
            <nav class="nav" style="font-size: 0.8rem;">
              <a 
                class="nav-link text-black fw-bold p-0" 
                href="<%= forum_room_path(ForumRoom.find_by(name: 'Finance')) %>" 
                style="text-decoration: none;">
                Finance
              </a>

              <span class="px-2">|</span>
              <a 
                class="nav-link text-muted p-0" 
                href="<%= forum_room_path(ForumRoom.find_by(name: 'Technical Questions')) %>" 
                style="text-decoration: none;">
                Technical Questions
              </a>
              <span class="px-2">|</span>
              <a 
                class="nav-link text-muted p-0" 
                href="<%= forum_room_path(ForumRoom.find_by(name: 'Rate My Chances')) %>" 
                style="text-decoration: none;">
                Rate My Chances
              </a>

              <span class="px-2">|</span>
              <a 
                class="nav-link text-muted p-0" 
                href="<%= forum_room_path(ForumRoom.find_by(name: 'Recruiting Results')) %>" 
                style="text-decoration: none;">
                Recruiting Results
              </a>

              <span class="px-2">|</span>
              <a 
                class="nav-link text-muted p-0" 
                href="<%= forum_rooms_path %>" 
                style="text-decoration: none;">
                All Forum Rooms
              </a>

            </nav>

            <!-- Top Posts -->
            <%= render "site/mocks_home/top_forum_posts"%>

          </div>
        </div>

        <div class="card mb-4 shadow-sm border-0" style="height: 246px;">
          <div class="card-body text-center">
            <!-- Title -->
            <div class="d-flex justify-content-between">
              <h5 class="text-start">Explore Career Paths</h5>
              <%= link_to "View all", pages_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <!-- Description -->
            <p class="text-start" style="font-size: 0.8rem;">
              Dive deeper into specific career areas with tailored insights, resources, and guidance.
            </p>
            <!-- Career Path Links -->
            <div>
              <%= render 'site/mocks_home/career_path_links' %>
            </div>
          </div>
        </div>

      </div>

      <!-- Right Column -->
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card mb-4 me-3 shadow-sm border-0" style="height: 375px;">
          <div class="card-body text-center pb-0 m-0">
            <div class="d-flex justify-content-between">
              <h5 class="text-start">Networking & Interview Recaps</h5>
              <%= link_to "View all", employee_views_path, class: "text-end m-2 text-dark text-decoration-none", style: "font-size: 0.8rem;" %>
            </div>
            <hr class="m-0 text-muted" style="opacity: 0.1;">
          </div>
          <%= render partial: 'site/recaps_home/list_of_recap_cards'%>
        </div>
        <div class="card mb-4 me-3 shadow-sm border-0" style="height: 150px; background-color: black; color: white;">
          <div class="card-body text-center">
            <!-- Title -->
            <h5 class="text-start" style="font-size: 0.7rem;">Interview Question of the Day</h5>

            <!-- Horizontal rule -->
            <hr class="m-0" style="opacity: 0.5; border-color: white;">

            <!-- Centered question text -->
            <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
              <p style="text-align: center; margin: 0;"><%= @question_of_the_day.question_text %></p>
            </div>
          </div>
        </div>


        <div class="card me-3 shadow-sm border-0 d-flex" style="height: 203px;">
          <div class="card-body text-center d-flex flex-column justify-content-between align-items-center">
            <%= render 'site/questions_home/answer_choices' %>

            <!-- Button to See All Questions -->
            <%= link_to "See All Questions", question_packets_path, class: "btn btn-dark rounded-pill w-100" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div style="background-color: #000; color: #fff; text-align: center; padding: 10px 0; position: fixed; bottom: 0; left: 0; right: 0; z-index: 1000;">
    Career
  </div>
</body>
