<div class="card shadow-sm my-4">
  <div class="card-body">
    <h5 class="fw-bold text-start mb-3">Filters</h5>
    <%= form_with url: change_career_data_path, method: :get, class: "filter-form" do |f| %>
      <div class="row">
        <!-- From Column -->
        <div class="col-md-6">
          <h6 class="fw-bold text-start mb-3">From</h6>
          <hr />
          <div class="mb-3">
            <%= f.select :q_from_industry_cont,
                         [["All Industries", ""]] + CombinedJob.where.not(industry: [nil, ""]).distinct.pluck(:industry).map { |i| [i, i] },
                         { selected: params[:q_from_industry_cont] },
                         { class: "form-select" } %>
          </div>
          <div class="mb-3">
            <%= f.select :q_from_company_cont,
                         [["All Companies", ""]] + CombinedJob.where.not(company: [nil, ""]).distinct.pluck(:company).map { |c| [c, c] },
                         { selected: params[:q_from_company_cont] },
                         { class: "form-select" } %>
          </div>
          <div class="mb-3">
            <%= f.select :q_from_level_cont,
                         [["All Levels", ""]] + CombinedJob.where.not(level: [nil, ""]).distinct.pluck(:level).map { |l| [l, l] },
                         { selected: params[:q_from_level_cont] },
                         { class: "form-select" } %>
          </div>
          <div class="mb-3">
            <%= f.select :q_from_sub_level_cont,
            [["All Sub-Levels", ""]] +
            CombinedJob.where.not(sub_level: [nil, ""])
                      .distinct
                      .pluck(:sub_level)
                      .sort_by { |s| [s =~ /^[a-zA-Z]/ ? 0 : 1, s =~ /^[0-9]/ ? s.to_i : s] }
                      .map { |s| [s, s] },
            { selected: params[:q_from_sub_level_cont] },
            { class: "form-select" } %>

          </div>
        </div>

        <!-- To Column -->
        <div class="col-md-6">
          <h6 class="fw-bold text-start mb-3">To</h6>
          <hr />
          <div class="mb-3">
            <%= f.select :q_to_industry_cont,
                         [["All Industries", ""]] + CombinedJob.where.not(industry: [nil, ""]).distinct.pluck(:industry).map { |i| [i, i] },
                         { selected: params[:q_to_industry_cont] },
                         { class: "form-select" } %>
          </div>
          <div class="mb-3">
            <%= f.select :q_to_company_cont,
                         [["All Companies", ""]] + CombinedJob.where.not(company: [nil, ""]).distinct.pluck(:company).map { |c| [c, c] },
                         { selected: params[:q_to_company_cont] },
                         { class: "form-select" } %>
          </div>
          <div class="mb-3">
            <%= f.select :q_to_level_cont,
                         [["All Levels", ""]] + CombinedJob.where.not(level: [nil, ""]).distinct.pluck(:level).map { |l| [l, l] },
                         { selected: params[:q_to_level_cont] },
                         { class: "form-select" } %>
          </div>
          <div class="mb-3">
            <%= f.select :q_to_sub_level_cont,
            [["All Sub-Levels", ""]] +
            CombinedJob.where.not(sub_level: [nil, ""])
                      .distinct
                      .pluck(:sub_level)
                      .sort_by { |s| [s =~ /^[a-zA-Z]/ ? 0 : 1, s =~ /^[0-9]/ ? s.to_i : s] }
                      .map { |s| [s, s] },
            { selected: params[:q_to_sub_level_cont] },
            { class: "form-select" } %>

          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center mt-4 d-flex justify-content-between">
        <%= f.submit "Apply Filters", class: "btn btn-dark w-50 ms-2 me-2" %>
        <%= link_to "Clear Filters", change_career_data_path, class: "btn btn-outline-dark w-50 me-2" %>
      </div>
    <% end %>
  </div>
</div>
