<div class="container mb-4 mt-4">
  <div class="card shadow-sm">
    <div class="card-body text-center bg-light">
      <h1 class="fw-bold text-uppercase" style="letter-spacing: 1px; margin-bottom: 10px; margin-top: 10px;"><%= @employee_view.name %></h1>
      <p class="text-muted" style="font-size: 14px;">Explore key professionals and their details</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row g-4">
    <!-- Job Levels with Level Rank -->
    <% @job_levels.each do |job_level| %>
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-header bg-black text-white">
            <h5 class="mb-0"><%= job_level.name %></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <% job_level.employees.where(id: @employee_view.employee_ids).each do |employee| %>
                <div class="col-md-4">
                  <%= render partial: 'employee_views/employee_display_card', locals: { employee: employee } %>
                  <%#= render partial: 'employee_views/employee_details_modal', locals: { employee: employee } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- "Other" Employees -->
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header bg-black text-white">
          <h5 class="mb-0">Other</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <% @other_employees.each do |employee| %>
              <div class="col-md-4">
                <%= render partial: 'employee_views/employee_display_card', locals: { employee: employee } %>
                <%= render partial: 'employee_views/employee_details_modal', locals: { employee: employee } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
