<%= form_with(model: [:admin, @detail], local: true) do |f| %>
  <% if @detail.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h4>
      <ul>
        <% @detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :exit_opportunity_mapping_id, value: @mapping.id if @mapping %>

  <div class="mb-3">
    <%= f.label :source_company_name, class: 'form-label' %>
    <%= f.text_field :source_company_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :source_group, class: 'form-label' %>
    <%= f.text_field :source_group, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :target_company_name, class: 'form-label' %>
    <%= f.text_field :target_company_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :target_group, class: 'form-label' %>
    <%= f.text_field :target_group, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :likelihood, "Likelihood (1 = Likely, 2 = Possible)", class: 'form-label' %>
    <%= f.select :likelihood, 
        [['Likely', 1], ['Possible', 2]],
        { include_blank: 'Select Likelihood' },
        class: 'form-select' %>
  </div>

  <div class="mt-4">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_exit_opportunity_details_path, class: 'btn btn-outline-secondary ms-2' %>
  </div>
<% end %> 
