<h2 class="text-center my-4"><%= @position_type.new_record? ? 'New position Type' : 'Edit position Type' %></h2>

<div class="container">
  <%= form_with(model: @position_type, url: @position_type.new_record? ? admin_position_types_path : admin_position_type_path(@position_type), local: true) do |form| %>
    <div class="card shadow-sm border-0">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0"><%= @position_type.new_record? ? 'Create position Type' : 'Edit position Type' %></h5>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <%= form.label :name, 'Position Type Name', class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control', placeholder: 'Enter position type name' %>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <%= form.submit class: 'btn btn-dark' %>
      </div>
    </div>
  <% end %>
</div>
